DATABASE=mongodb://user:password@ds155934.mlab.com:55934/testdbmongo
COOKIE_KEY=flads23k1mspodfa9382u193iu2n1iunjkldfnsa
GOOGLE_CLIENT_ID=00000000-;fdksma93-21uj392ji1nlfdsaapps.googleusercontent.com
GOOGLE_CLIENT_SECRET=OIsdanlksdaP-321kfdsnafl
TWITTER_CONSUMER_KEY=reknwaipawepriejwPUJKL2
TWITTER_CONSUMER_SECRET=KDF03281932u0819h32n1jlkLJKDNSA
